In [35]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import time

# Import API key
from config import google_api_key

# Store Part I results into DataFrame

In [7]:
# Read the output csv file from part one 
result_one_df = pd.read_csv("/Users/rodneydavermann/Desktop/Python_api_Challenge/OutputData/cities_output.csv")

In [8]:
# Dropping any missing data
#result_one_df.dropna()

# Displaying the first fifteen rows 
result_one_df.head(15)

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,George Town,20,MY,1623898591,76,5.4112,100.3354,89.53,2.30
1,Sohag,0,EG,1623898749,35,26.5570,31.6948,77.58,9.22
2,Ushuaia,0,AR,1623898750,75,-54.8000,-68.3000,33.46,0.00
3,New Norfolk,100,AU,1623898750,84,-42.7826,147.0587,54.91,2.42
4,Great Falls,1,US,1623898481,20,47.5002,-111.3008,73.85,9.22
5,Kawalu,100,ID,1623898750,83,-7.3817,108.2082,77.56,2.80
6,Vaini,90,TO,1623898751,94,-21.2000,-175.2000,75.36,3.44
7,Bluff,93,NZ,1623898751,72,-46.6000,168.3333,46.80,10.87
8,Tuatapere,70,NZ,1623898751,82,-46.1333,167.6833,46.81,3.71
9,Qaanaaq,93,GL,1623898752,79,77.4840,-69.3632,31.12,3.49
10,Busselton,0,AU,1623898752,64,-33.6500,115.3333,57.04,6.96
11,Bhit Shah,0,PK,1623898752,59,25.8044,68.4927,86.05,17.49
12,Broome,53,US,1623898753,81,42.2506,-75.8330,53.56,2.04
13,Chui,100,UY,1623898753,79,-33.6971,-53.4616,51.30,11.16
14,Belyy Yar,75,RU,1623898753,100,53.6039,91.3903,57.09,4.47

# Humidity Heatmap

In [13]:
# Configure gmaps
gmaps.configure(api_key="google_api_key")

#Use the Lat and Lng as locations and Humidity as the weight.
locations = result_one_df[["Lat", "Lng"]]

# Convert Humidity data type to float
humidity = result_one_df["Humidity"].astype(float) 

# Plot Heatmap
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)

max_humidity = np.max(humidity)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=max_humidity, point_radius=3)

# Add layer
fig.add_layer(heat_layer)

# Display figure
print(fig)

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Slicing and Creating new cities DataFrame fitting wind speed less than or equal 15 mph, Temperature between 70 and 90, and cloudiness equals to 0 
cities_df = result_one_df.loc[(result_one_df["Wind Speed"] <= 15) & (result_one_df["Cloudiness"] == 0) & 
                                   (result_one_df["Max Temp"] >= 70) & (result_one_df["Max Temp"] <= 90)]
                                
#Drop any rows will null values
cities_df.dropna(how="any")

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
1,Sohag,0,EG,1623898749,35,26.5570,31.6948,77.58,9.22
21,Umluj,0,SA,1623898756,64,25.0213,37.2685,79.88,12.06
31,Avera,0,US,1623898758,56,33.1940,-82.5271,73.71,4.97
51,Redmond,0,US,1623898684,60,47.6740,-122.1215,71.20,1.01
115,Ubari,0,LY,1623898784,19,26.5921,12.7805,77.56,7.16
146,Khandyga,0,RU,1623898793,19,62.6667,135.6000,74.80,10.36
154,San Patricio,0,US,1623898796,76,28.0170,-97.5169,84.83,6.85
159,Araouane,0,ML,1623898797,13,18.9048,-3.5265,89.15,0.38
233,Mujiayingzi,0,CN,1623898828,23,42.1167,118.7833,73.54,10.07
259,Jalu,0,LY,1623898837,32,29.0331,21.5482,76.08,7.31
272,Assiut,0,EG,1623898842,41,27.1810,31.1837,75.43,10.58
274,Gold Coast,0,AU,1623898720,44,-28.0000,153.4333,76.24,5.99
296,Shebalino,0,RU,1623898849,44,51.2917,85.6772,71.42,2.37
355,Nambucca Heads,0,AU,1623898869,34,-30.6500,153.0000,72.18,12.82
395,Bilma,0,NE,1623898881,20,18.6853,12.9164,86.83,1.12
404,Buraidah,0,SA,1623898884,14,26.3260,43.9750,82.22,8.25
406,Sawtell,0,AU,1623898885,40,-30.3833,153.1000,72.19,10.36
419,Borazjan,0,IR,1623898889,29,29.2666,51.2159,88.70,1.86
423,Rāvar,0,IR,1623898890,11,31.2656,56.8055,81.16,2.51
453,Semnan,0,IR,1623898899,24,35.5729,53.3971,81.07,2.01
457,Neftçala,0,AZ,1623898900,69,39.3742,49.2472,78.12,10.92
460,Aswān,0,EG,1623898901,27,24.0934,32.9070,80.35,12.17
516,Kidal,0,ML,1623898918,12,18.4411,1.4078,88.54,6.29
518,Helena,0,US,1623898710,27,46.5927,-112.0361,72.16,5.01
530,Mulegé,0,MX,1623898922,40,26.8833,-111.9833,89.78,2.19
536,Waddān,0,LY,1623898924,52,29.1614,16.1390,72.05,8.72

In [33]:
# Hotel Map

#Store into variable named hotel_df
hotel_df = cities_df.loc[:,["City","Country", "Lat", "Lng"]]

# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""

#Set parameters to search for hotels with 5000 meters.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : "google_api_key"}
#Hit the Google Places API for each city's coordinates

for index, row in hotel_df.iterrows():
    # get city name, lat, lnt from df
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    # add keyword to params dict
    params["location"] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")
    
    # Wait 1 sec to make another api request to avoid SSL Error
    time.sleep(1)

# Print end of search once searching is completed
print("-------End of Search-------")

Retrieving Results for Index 1: Sohag.
Missing field/result... skipping.
------------
Retrieving Results for Index 21: Umluj.
Missing field/result... skipping.
------------
Retrieving Results for Index 31: Avera.
Missing field/result... skipping.
------------
Retrieving Results for Index 51: Redmond.
Missing field/result... skipping.
------------
Retrieving Results for Index 115: Ubari.
Missing field/result... skipping.
------------
Retrieving Results for Index 146: Khandyga.
Missing field/result... skipping.
------------
Retrieving Results for Index 154: San Patricio.
Missing field/result... skipping.
------------
Retrieving Results for Index 159: Araouane.
Missing field/result... skipping.
------------
Retrieving Results for Index 233: Mujiayingzi.
Missing field/result... skipping.
------------
Retrieving Results for Index 259: Jalu.
Missing field/result... skipping.
------------
Retrieving Results for Index 272: Assiut.
Missing field/result... skipping.
------------
Retrieving Results for Index 274: Gold Coast.
Missing field/result... skipping.
------------
Retrieving Results for Index 296: Shebalino.
Missing field/result... skipping.
------------
Retrieving Results for Index 355: Nambucca Heads.
Missing field/result... skipping.
------------
Retrieving Results for Index 395: Bilma.
Missing field/result... skipping.
------------
Retrieving Results for Index 404: Buraidah.
Missing field/result... skipping.
------------
Retrieving Results for Index 406: Sawtell.
Missing field/result... skipping.
------------
Retrieving Results for Index 419: Borazjan.
Missing field/result... skipping.
------------
Retrieving Results for Index 423: Rāvar.
Missing field/result... skipping.
------------
Retrieving Results for Index 453: Semnan.
Missing field/result... skipping.
------------
Retrieving Results for Index 457: Neftçala.
Missing field/result... skipping.
------------
Retrieving Results for Index 460: Aswān.
Missing field/result... skipping.
------------
Retrieving Results for Index 516: Kidal.
Missing field/result... skipping.
------------
Retrieving Results for Index 518: Helena.
Missing field/result... skipping.
------------
Retrieving Results for Index 530: Mulegé.
Missing field/result... skipping.
------------
Retrieving Results for Index 536: Waddān.
Missing field/result... skipping.
------------
-------End of Search-------

In [36]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [38]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display Map
print(fig)

Figure(layout=FigureLayout(height='420px'))